<main>
    <section>
        <a href='#' rel="dofollow">Create your account</a>
    </section>
    <section>
        <table>
            <tr>
                <th>Coin name</th>
                <th>Actual Price</th>
                <th>Change in last 24hs</th>
            </tr>
            <tr>
                <td>BTC</td>
                <td>21,000</td>
                <td>-10%</td>
            </tr>
            <tr>
                <td>ETH</td>
                <td>10,000</td>
                <td>-1%</td>
            </tr>
        </table>
    </section>
</main>